
  
body{ 
  background:red;
  width: 400px ;
  margin-left: 400px;
  margin-right: 400px ;
  margin-top: 200px;

} 

 h1{ 
  font-family: Helvetica;
  font-size: 150% ;
  color: #666 ;
  font-size: 14pt;

} 

h2{
  color: #555 ;
  font-size: 12pt;

} 




